.user.ini
.vscode/ftp-kr.json
.vscode/ftp-kr.sync.cache.json
.vscode/monac.code-workspace
.vscode/sftp.json
.vscode/
**/images/**
**/bak
**/backup
*.jpg
*.swp
*.cgi
*.csv
.user
**.DS_Store
RealEstateDB/FloatingMenu/menu.phtml
RealEstateDB/FloatingMenu/config.js
RealEstateDB/config/config.phtml
RealEstateDB/config/config.phtml.bak
RealEstateDB/config/stylesheet-print.css.bak
RealEstateDB/config/stylesheet.css
RealEstateDB/config/stylesheet.css.bak
RealEstateDB/images/company_logo.jpg
RealEstateDB/images/highlight-background.jpg
RealEstateDB/images/highlight-background.jpg.bak
RealEstateDB/images/subtitle-background.jpg
RealEstateDB/images/tail-background.jpg
RealEstateDB/images/title-background.jpg
RealEstateHomeOptionsDB/config
RealEstateHomeOptionsDB/images.bak/*
RealEstateHomeOptionsDB/log/error.log
RealEstateHomeOptionsDB/temp.txt
common/.DS_Store
common/images/.DS_Store
common/images/company_logo.jpg
common/images/highlight-background.jpg
common/images/subtitle-background.jpg
common/images/tail-background.jpg
common/images/title-background.jpg
sftp-config.json
tail-background.jpg.bak
RealEstateHomeOptionsDB/images/project-background-big.jpg
RealEstateHomeOptionsDB/images/project-image-1200.jpg
RealEstateHomeOptionsDB/images/project-logo-small.jpg
common/images/project-background-big.jpg
.vscode/
#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pyc
