.headXXX 	{ 	height: 20; 
			font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-align: center;
			background: #fcc23d url(/lmark/SalesDemo/common/images/title-background.jpg) repeat-x; color: #888888;  }

.head 	{ 	height: 20; 
			font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-align: center;
			color: #888888; border-spacing: 0px; border-collapse: separate;
			}

tr.head td {
			border-bottom: 2px solid #888888;
			border-top: 2px solid #888888;
			padding: 10px;
			}

.head-left 	{ 	height: 20; 
			font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-align: left;
			background: #fcc23d url(/lmark/SalesDemo/common/images/title-background.jpg) repeat-x; color: #888888;  }

.head-right 	{ 	height: 20; 
			font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-align: right;
			background: #fcc23d url(/lmark/SalesDemo/common/images/title-background.jpg) repeat-x; color: #888888;  }

.big-head 	{ 	height: 20; 
			font-family: Verdana, Arial, sans-serif; font-size: 15pt; font-weight: bold; text-align: center;
			color: #777777;  }

.subheadXXX 	{ 	height: 20; 
			font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-align: center;
			background: #F7D642 url(/lmark/SalesDemo/common/images/subtitle-background.jpg) repeat-x; color: #000000;  }

.subhead 	{ 	height: 20; 
			font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-align: center;
			color: #888888; border-spacing: 0px; border-collapse: separate; }

	tr.subhead td {
			border-bottom: 2px solid #888888;
			border-top: 0px solid #888888; 
			padding: 10px;
			}
				

.subhead-left 	{ 	height: 20; 
font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-align: left;
background: #F7D642 url(/lmark/SalesDemo/common/images/subtitle-background.jpg) repeat-x; color: #888888;  }

.subhead-left-med 	{ height: 20; 
	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 14pt; font-weight: bold; 
	background: #F7D642 url(/lmark/SalesDemo/common/images/subtitle-background.jpg) repeat-x; 
	color: #888888;  text-align: left}

.subhead-right 	{ 	height: 20; 
font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-align: right;
background: #F7D642 url(/lmark/SalesDemo/common/images/subtitle-background.jpg) repeat-x; color: #0;  }



.body 				{ 	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; 
			background-color: #FFFFFF; color: #888888; }

.body-right			{ 	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-align: right;
			background-color: #FFFFFF; color: #888888; }

.body-highlight 	{ 	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; 
			color: #888888; background:  #EEEEEE url(/lmark/SalesDemo/common/images/tail-background.jpg) repeat-x; }

.body-green 		{ 	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #888888;
			background-color: #FFFFFF; }

.body-blue			{ 	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #888888;
						background-color: #FFFFFF; }

.body-yellow		{ 	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #888888;
						background-color: #FFFFFF;  }

.tail 	{ height: 20; font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; background: #c0c0c0 url(/lmark/SalesDemo/common/images/tail-background.jpg) repeat-x; color: #888888;  text-align: center}
.tail-left 	{ height: 20; font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; background: #c0c0c0 url(/lmark/SalesDemo/common/images/tail-background.jpg) repeat-x; color: #888888;  text-align: left}
.tail-left-med 	{ height: 20; font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 14pt; font-weight: bold; background: #c0c0c0 url(/lmark/SalesDemo/common/images/tail-background.jpg) repeat-x; color: #888888;  text-align: left}
.tail-right 	{ height: 20; font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; background: #c0c0c0 url(/lmark/SalesDemo/common/images/tail-background.jpg) repeat-x; color: #888888;  text-align: right}

.error 	{ font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #ff0000; }
.blank 	{ font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #FF0000;}
.blank-highlight {  font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #888888;  background: #EEEEEE url(/lmark/SalesDemo/common/images/tail-background.jpg) repeat-x; }
.blank-right		{ 	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt;
						font-weight: bold; text-align: right; color: #444444;}

.blankL { font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-align: left}
.open 	{ font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; color: #ff0000; background-color: #FFFFCC }
.closed { font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; color: #888888; background-color: #FFFFCC }
.btn 	{ font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; height: 26px; width: 80px;}


.font-highlight		{ 	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #DF5337; }

.tab-table  { border-color: #FF0000 }

.largetitle {	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 12pt; color: #666666;	font-weight: bold;	margin-top: 11px;	margin-bottom: 4px;	}
.smalltitle {	margin-top: 6px;	font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold;	color: #666666;	}

.borderbot { height: 1px; line-height: 1px; font-size: 1px; margin: 0px; padding: 0px; background: url(/images/dots.gif) repeat-x; }
.borderbotlight { height: 1px; margin: 0px; padding: 0px; background: url(/images/dots_light.gif) repeat-x; }

.popupDiv 		{ padding: 5px; background-color: #FFFFFF; border: 5px solid #777777; }
.popupDivTitle 	{ font-family: -apple-system, Helvetica, Arial, sans-serif; color: #E6ECC0; }

a 		{ font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; text-decoration:none}
a:visited { color:#888888 }
a:link 		{ color:#888888 }
a:hover 	{color: #F2862F }


.header3 { font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 12pt; font-weight: bolder; color: #888888}

.tr-header { font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 12pt; font-weight: bolder; color: #888888; background-color: #F7D642; }

.calendar-div { font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt;  background-color: #FFFFFF; }
.image-link { text-decoration:none; border:none; }
.image-link:visited { color:#888888 }
.image-link:link 		{ color:#888888 }
.image-link:hover 	{color: #F2862F }
.image-link IMG {border:none; }

.image 		{ border: 2px; border-color: #A7B518; }

.table_rec	{font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #888888}

.print-tr, .print-td, .print-hr, .print-div {
	display: none;
}

.page-break { height: 50px; width: 100%; }
#page-break-div {height: 50px; page-break-after: always;}

body { background-color: #FFFFFF }
div { background-color: #FFFFFF }
table { background-color: #FFFFFF; border: 0px; border-spacing: 0px; border-collapse: separate; }
tr { background-color: #FFFFFF }
span { font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #000000}
.td-upper { font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #888888; text-transform: uppercase}
td { font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; vertical-align: top; color: #888888}
.tdI { font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 9pt; font-weight: bold; font-style: italic;  vertical-align: top; color: #888888}
th { font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold; color: #888888}
h1 { font-family: -apple-system, Helvetica, Arial, sans-serif; color: #888888}
h2 { font-family: -apple-system, Helvetica, Arial, sans-serif; color: #888888}
h3 { font-family: -apple-system, Helvetica, Arial, sans-serif; color: #888888}
h4 { font-family: -apple-system, Helvetica, Arial, sans-serif; color: #888888}
h5 { font-family: -apple-system, Helvetica, Arial, sans-serif; color: #888888}

input 		{ font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; }
select 		{ font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; }
textarea 	{ font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; }
error		{ font-family: -apple-system, Helvetica, Arial, sans-serif; font-size: 10pt; color: red}

.dojoDialog {
	background : #eee;
	border : 1px solid #999;
	-moz-border-radius : 5px;
	padding : 4px;
}

